@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-nunito: "Nunito", "sans-serif";
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
